@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&family=Mulish:ital,wght@0,300;0,500;0,600;1,200&display=swap');

.gradient {
    background: rgb(216,107,233);
    background: linear-gradient(132deg, rgba(216,107,233,1) 0%, rgba(189,144,232,1) 34%, rgba(55,182,228,1) 55%, rgba(177,201,222,1) 77%, rgba(155,189,185,1) 100%);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

body {
    width: 100vw;
}

h1 {
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 25px;
    border-radius: 10px;
    min-width: 30vw;
}

p {
    font-size: 16px;
}

h2 {
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 30px;
}

.card-bg {
    margin: 2vw;
    padding: 2.5vw;
    border-radius: 15px;
    background-color: white;
    text-align: center;
}

.separator {
    margin: 35px auto;
    height: 5px;
    width: 86vw;
    border-radius: 9000px;
}

.photo {
    margin: 2vw 0;
    width: 83vw;
    border-radius: 20px;
}

.member-info {
    margin: 20px;
    padding: 3.5vw;
    background-color: #f9fcfc;
    border: 2px solid #d5c2e8;
    border-radius: 8px;
    display: flex;
    gap: 5vw;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

div.member-info:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: left;
}

.member-photo {
    height: 19vw;
    width: auto;
    border-radius: 50%;
}

.name-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 9px;
}

h3 {
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    font-size: 18.5px;
    margin: 0 0 2px 0;
}

span.title {
    color: white;
    background: linear-gradient(132deg, rgba(216,107,233,1) 0%, rgba(189,144,232,1) 34%, rgba(55,182,228,1) 85%, rgba(177,201,222,1) 100%);
    font-family: "Mulish", sans-serif;
    font-size: 12px;
    padding: 4px 9px;
    border-radius: 4px;
}

.member-description {
    margin: 8px 0;
    padding: 0;
    font-size: 13.5px;
}

p:last-of-type{
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 70px;
    }
    p {
        font-size: 25px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 35px;
    }
    .member-description {
        font-size: 18px;
    }
    span.title {
        font-size: 18px;
        padding: 7px 14px;
        margin-left: 16px;
        border-radius: 7px;
    }
    .desktop-flex {
        padding: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    .photo {
        height: 20vw;
        width: auto;
    }
    .separator {
        margin: 50px auto;
    }
}


a {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
